<div class="container-fluid">

  <section class="breadcrumb breadcrumb-info mt-3">
    <a href="" routerLink="/">Home </a> <span class="breadcrumb__arrow">&rarr;</span> <span class="text-info"> {{movies.params.id}} </span>
  </section>

 <div class="movie-holder" >
    <div class="row border-light">
        <div class="col-xl-4 col-md-6 col-sm-12">
    
    
          <img src="{{movieDetails.image.medium}}" alt="" srcset="" >
    
        </div>
        <div class="col-xl-8 col-md-6 col-sm-12">
         
          <div class="me">
            <h3 class="mb-3"> {{movieDetails.name}} </h3>
            <h5 class="mr-5 py-2"> Summary:  {{movieDetails.summary}} </h5>
            <div class="d-flex flex-row my-2 ">
              <div class="detail-one flex-fill">
               <span class="pr-4 py-2">Tags</span> <span class="pr-4 my-5 " *ngFor = "let badge of badges">    <span class="badge badge-info p-2"> {{badge}} </span> </span>
                <p class="pr-4 py-2 "> Language: {{movieDetails.language}} </p>
             
                <p class="pr-4 py-2"> iMBD rating: {{movieDetails.rating.average}} </p>
    
              </div>
            </div>
          </div>
        </div>
      </div>
 </div>


  <div class="row mt-5">
    <div class="col-xl-12">
      <p class="other-options">You may also like</p>
    </div>

    <div class="col-md-2 my-3" *ngFor="let episode of episodeList | paginate: { itemsPerPage: 12, currentPage: p }">
      <div class="card">
        <img
          defaultImage="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNHa9sZKjWTDuu5n4pmAni_1EOzobWZD2tColqmsTSLfCY6ykOxA&s"
          [lazyLoad]="episode.image.medium" alt="{{episode.name}}" (click)="goToDetails(episode.id, episode.name)">
        <p class="movie-title text-center px-2">{{episode.name}} - <b>Season {{episode.season}}</b> </p>
        <span class="holder"> EPS {{episode.number}} </span>
      </div>
    </div>




  </div>
</div>

<!-- [ngStyle]="{ 'background-image': 'url(' + img + ')'}" -->