<div class="container-fluid">
  <div class="row border-light">
    <div class="col-xl-6  col-xl-offset-6" >
      <p> <a href="" routerLink = "/">Home </a> ➡ <a href="">{{movie.params.name}}</a></p>
      <h2>Name of Movie: {{movie.name}}  </h2> 
      <p>Summary of movie: </p>
      <div class="d-flex flex-row mt-2 ">
        <div class="detail-one flex-fill">
          <p> Genre: </p>
          <p> Actor: </p>
          <p> Director:   </p>
          <p> Country:   </p>
        </div>
        <div class="detail-two flex-fill">
          <p> Duration: </p>
          <p> Quality: </p>
          <p> Release: </p>
          <p>iMBD rating: </p>
        </div>
      </div>
     
  
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-xl-12">
      <p class="other-options">You may also like</p>
    </div>

    <div class="col-md-2 mt-3" *ngFor = "let episode of episodeList">
      <div class="card">
        <img 
            defaultImage= "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNHa9sZKjWTDuu5n4pmAni_1EOzobWZD2tColqmsTSLfCY6ykOxA&s"
            [lazyLoad]="episode.image.medium"
            alt="{{episode.name}}"  (click)="goToDetails(episode.id, episode.name)">
        <p class="movie-title text-center px-auto">{{episode.name}} - <b>Season  {{episode.season}}</b>   </p>
        <span class = "holder"> EPS {{episode.number}} </span>
    </div>
    </div>


  

  </div>
</div>